 html, body {
        position: relative;
        height: 100%;width:100%;
    }
    *{
    	margin:0;padding:0;
    }
    /*body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }*/

    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .page1_yuan{
    	position: absolute;
    	left:50%;
    	top:50%;
    	margin-left:-146px;
    	margin-top: -225px;
    	width:292px;
    }
    .page1_font{
    	position: absolute;
    	left:50%;
    	top:50%;
    	margin-left:-160px;
    	margin-top:-170px;
    	width:320px;
    	/*height:300px;*/
    }
    .page1_box{
    	position:relative
    	width:100%;height:100%;
    	
    }
    .page1{
    	background: url(../img/t1-bg.png) no-repeat center center;
    	background-size:cover;
    }
    /*.swiper-slide {
        text-align: center;
        font-size: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }*/
    /*page2*/
.page2{
	background:url(../img/t2-bg.png) no-repeat center center;
	background-size:cover;
	overflow:hidden;
}
.page2_box{
	position:relative;
	width:100%;
	height:100%;
}
.page2_people{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-32px;
	margin-top:-295px;
	width:60px;
	height:250px;
	transform:translateY(0px);
	/*-webkit-transform:translateY(-300px);*/
}
.peop_down{
	position:absolute;
	width:140px;height:140px;
	left:50%;top:50%;margin-top:70px;
	margin-left:-60px;
}
/*运动的代码*/

/*page3*/
.page3{
	background:url(../img/t3-bg.png) no-repeat center center;
	background-size:cover;
}
.page3_top{
	width:120px;height:120px;position: absolute;
	left:50%;top:50%;
	margin-left:-55px;margin-top:-185px;
}
.page3_down{
	width:170px;height:170px;position: absolute;
	left:50%;top:50%;
	margin-top:20px;
	margin-left:-75px;
}

/*page4*/
.page4_top{
	width:280px;height:100px;
	position: absolute;
	left:50%;top:50%;
	margin-top:-230px;
	margin-left:-140px;
}
.page4_center{
	width:280px;height:80px;position: absolute;
	left:50%;top:50%;
	margin-top:-60px;
	margin-left:-140px;
}
.page4_down{
	width:300px;height:120px;position: absolute;
	left:50%;top:50%;
	margin-top:145px;
	margin-left:-150px;
}



/*page5*/
.page5_box{
	height:500px;
	float:none;
}
.page5_top{
	position:absolute;
	width:230px;
	height:auto;
	left:50%;
	top:0;
	margin-left:-115px;
}
.page5_center{
	position:absolute;
	width:209px;
	height:230px;
	left:50%;
	top: 15%;
	margin-left:-104px;
}
.page5_down{
	position:absolute;
	width:280px;
	height:100px;
	left:50%;
	top:50%;
	margin-left:-140px;
	margin-top:300px;
}

/*page6*/
.page6{
	background:url(../img/t10-bg.png) no-repeat center center;
	background-size: cover;
}
.page6_1{
	width:280px;height: 200px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-140px;margin-top:-150px;
}
/*.page6_2{
	width:280px;height: 200px;
	position: absolute;left:50%;
	top:50%;
	margin-left:-140px;margin-top:-150px;
}*/
.page6_3{
	width:200px;height: auto;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-100px;margin-top:250px;
	/*opacity:0.5;*/
}
.page6_4{
	width:140px;height:auto;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-70px;margin-top:390px;
}
.page6_5{
	width:150px;height: auto;
	position: absolute;left:50%;
	top:93%;
	margin-top:80px;
	margin-left:-75px;
}
.page6 p,h2{
	color:#ff811a;
}
p{
	margin-left: 50px;;
	/*margin-top:400px;*/
}
/*h2{
	font-size:40px;
}*/
.text{
	position: absolute;
	left:50%;
	top:60%;
	
	margin-left: -120px;
}
.role{
	position:absolute;
	left:50%;
	bottom:20px;
	margin-left:-25px;
}
.topAndBottm{
	-webkit-animation: topAndBottom 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes topAndBottom{
	from{-webkit-transform:translateY(0px);}
	to{-webkit-transform:translateY(-20px);}
}







@-webkit-keyframes moves{
	from{-webkit-transform:translateY(-300px);}
	to{-webkit-transform:translateY(0px);}
}
.move1{
	-webkit-animation: moves 1s;
}

@-webkit-keyframes movep{
	from{-webkit-transform:translateX(-300px);}
	to{-webkit-transform:translateX(0px);}
}
.move2{
	-webkit-animation: movep 1s;
}

.move3{
	-webkit-animation: moveq 1s;
}
@-webkit-keyframes moveq{
	from{-webkit-transform:translateX(300px);}
	to{-webkit-transform:translateX(0px);}
}
.move4{
	-webkit-animation: move4 1s;
}
@-webkit-keyframes move4{
	from{-webkit-transform:translateY(-100px);}
	to{-webkit-transform:translateY(0px);}
}
.move4_1{
	-webkit-animation: move4_1 1s;
}
@-webkit-keyframes move4_1{
	from{-webkit-transform:translateX(-200px);}
	to{-webkit-transform:translateX(0px);}
}
.move4_2{
	-webkit-animation: move4_2 1s;
}
@-webkit-keyframes move4_2{
	from{-webkit-transform:translateX(200px);}
	to{-webkit-transform:translateX(0px);}
}
.move4_3{
	-webkit-animation: move4_3 1s;
}
@-webkit-keyframes move4_3{
	from{-webkit-transform:translateY(200px);}
	to{-webkit-transform:translateY(0px);}
}
.move5_1{
	-webkit-animation: move5_1 1s;
}
@-webkit-keyframes move5_1{
	from{-webkit-transform:translateY(800px);}
	to{-webkit-transform:translateY(0px);}
}
.move5_2{
	-webkit-animation: move5_2 1s;
}
@-webkit-keyframes move5_2{
	from{-webkit-transform:translateX(-300px);}
	to{-webkit-transform:translateX(0px);}
}
.move5_3{
	-webkit-animation: move5_3 1s;
}
@-webkit-keyframes move5_3{
	from{-webkit-transform:translateX(-300px);}
	to{-webkit-transform:translateX(0px);}
}

